[submodule "themes/aerial"]
	path = themes/aerial
	url = https://github.com/sethmacleod/aerial.git
[submodule "public"]
	path = public
	url = git@github.com:richardlt/richardlt.github.io.git
	branch = master
